img#bubbles{
    max-width: 20%;
    margin-left: 40px;
}
#bubs{
    margin-left: 1vw;
    margin-right: 3vw;
}

img#julian{
    margin-left: 18px;
}
#jul{
    margin-left: 2vw;
    margin-right: 2vw;
}

#rick{
 margin-right: 3vw;
}

img#conky{
 width: 220px;
 margin-right: 18px;
}
#conk{
    margin-left: .5vw; 
    margin-right: 3vw;
}

.container{
    margin: 50px;
}


img{
    margin-left: 45px;
}


#navbar{
    margin-left: 27%;
}

.jumbotron{
    padding-top: 30px;
    
}

#playspc{
    background-image: url(http://cdn.tvweb.com/img.news.tops/NE9DKyRBfqNPdd_1_a/Trailer-Park-Boys-Season-8-Trailer.jpg);
    background-position-y: -80px;
}
h3{
    color: yellow;
    background-color: black;
    text-align: center;
}
#rule{
    color: black;
    background: none;
}
#indS h3{
    background-color: black;
    text-align: center;
}
